.root {
    -fx-background-color: white;
    -fx-padding: 40;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
}

.button {
    -fx-background-color: #310667;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-background-radius: 20;
}

.text-field, .password-field {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8;
    -fx-border-color: #310667;
}
